div#cross_container{
	width:644px;
	display:table;
	margin-top:-50px;
	margin-left:auto;
	margin-right:auto;
	font-size:80%;
	
}

div.quarter {
	margin:12px;
	width:190px;
	height: 180px;
	float: left;
	color:white;
}

div.ql {
	padding-left: 80px;
	padding-right: 20px;
	text-align: right;
}
div.qr {
	padding-left: 20px;
	padding-right: 80px;
}
div.qt {
	padding-top: 60px;
	padding-bottom: 20px;
	height: 210px;
}
div.qb {
	padding-top: 10px;
	padding-bottom: 100px;
}


div.quarter p {
	color:white;
	font-size:93%;
	margin-top:0;
	margin-bottom:0;
}

div.quarter h3{
	color:yellow;
	font-size:130%;
	padding-bottom:0em;
}

.data .label {
	color:yellow;	
}

.data .value {
	font-weight:bold;
}

.quarter a, .quarter a:link, .quarter a:active, .quarter a:visited{
	color: white;
	text-decoration: underline;
}

.quarter #map_container {
	margin-left:30px;
	margin-bottom:15px;
}

.quarter #map_canvas {
	width:100%;
	height:150px;
}

div#cross_footer{
	clear:both;
	
}

#q3 p {
	margin-bottom:5px;
}

#q1 {
	background-image:url('images/q1.png');
}
#q2 {
	background-image:url('images/q2.png');
}
#q3 {
	background-image:url('images/q3.png');
}
#q4 {
	background-image:url('images/q4.png');
}
